{% extends "index.html" %}

{% block content %}
<div>
    <h2>Помощь</h2>
    <h4>Информация о работе калькулятора</h4>
    <!-- Добавьте ссылки на справочники для каждого раздела -->
    <a href="Engineering.html">Инженерный калькулятор</a>
    <a href="Complex-numbers.html">Работа с комплексными числами</a>
    <a href="Matrix.html">Работа с матрицами</a>
    <a href="Vectors.html">Работа с векторами</a>
    <a href="Integrations.html">Интегралы и дифференциалы</a>
    <a href="Ploter.html">Построение фигур</a>
    <a href="Translation.html">Перевод величин</a>
    <a href="Constants.html">Работа с константами</a>
</div>
{% endblock %}
